:root
{
    --btn-color-hover: #e70c0c;
    --color-white-1: #ffffff;
    --color-white-2: #EDE8DC;


    /* --main-color: #C1CFA1; */
    --main-color: #3F3E49;
    --bg-color: #686E66;
    --bg-color-20: #60564f;
    --font-color-g-20: #C1CFA1;
    --color-g-50: #c8b4a7;
}