:root
{
    /* --main-color: #C1CFA1; */
    --main-color: #3F3E49;
    --bg-color: #686E66;
    --bg-color-20: #60564f;
    --font-color-w-100: #EDE8DC;
    --font-color-g-20: #C1CFA1;
    --color-g-50: #c8b4a7;
}